@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
	  font-family: "Work Sans";
	  src: url(/fonts/WorkSans-Regular.ttf) format("ttf");
	}
  
	@font-face {
	  font-family: "Open Sans";
	  src: url(/fonts/OpenSans-Regular.ttf) format("ttf");
	}
	body {
		@apply font-body;
		@apply text-base;
	}
  
	h1 {
	  @apply text-4xl;
	  @apply font-display;
	  @apply font-bold;
	}
  
	h2 {
	  @apply text-3xl;
	  @apply font-display;
	}
  
	h3 {
	  @apply text-2xl;
	  @apply font-body;
	  @apply text-base;
	  @apply font-semibold;
	}
  
	h4 {
	  @apply text-lg;
	  @apply font-body;
	}
  
	a {
	  @apply no-underline;
	}
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

